@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Stylish&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #ffffff;
}

.page-header {
    color: #ffffff;
}


.footer-details {
  height: 30px;
  background-color: #000000;
  color:#ffffff;
  text-align: center;
}

.footer-details p {
  padding-top: 10px;
}




