@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Stylish&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #ffffff;
}

.page-header {
    color: #ffffff;
}
.header-details {
  text-align: center;
}

.volcano-fact-link {
  color: #17a2b8;
  font-weight: bold;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}


.modal-body-details{
  font-size: 25px;
}



.show-hide-button {
  margin: 15px;
  color: #ffffff;
  font-weight: normal;
  font-size: medium;
  
}
.modal-body ul{
  list-style-image: url('/favicon-16x16.png');
}

.footer-details {
  background-color: #000000;
  height: 3em;
  font-size: smaller;
  text-align: center;
  color:#ffffff;
  font-weight: 100;
  padding-top: 10px;
}




