@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Stylish&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #ffffff;
}

.page-header {
    color: #ffffff;
}


.footer-details {
  background-color: #000000;
  height: 3em;
  font-size: smaller;
  text-align: center;
  color:#ffffff;
  padding-top: 10px;
}




